<!--<div class="home-infos">
  <%= image_tag 'Goal2.png' %>
  <div class="text-infos">
    <h3>Une nouvelle façon de se procurer des joueurs.</h3>
    <p>Test</p>
    <h1 id="title">NEW MERCATO</h1>
  </div>
  <%= image_tag 'Goal1.png' %>
</div>-->
<div class="gradient"></div>
<section class="presentation">
  <div class="container">
    <h1 id="title">LE FOOTBALL IL A CHANGÉ.</h1>
    <h2>LES JOUEURS SONT TROP CHERS ?</h2>
  </div>
</section>
<section class="presentation black">
  <div class="container">
    <h2>VOUS ACHETEZ MOINS DE YATCH ?</h2>
    <h1 id="title">VOICI "NEW MERCATO".</h1>
  </div>
</section>
<div class="gradient"></div>
<div class="container">
  <div class="club-photo-container">
    <% @clubs.each do |club| %>
      <%= link_to club_path(club) do %>
        <%= image_tag club.photo %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="gradient"></div>
<div class="home-photo"></div>
