<div class="container">
  <h1>Bienvenue au Nouveau Mercato</h1>
  <div class="gradient"></div>
  <section>
    Partie actualités
  </section>
  <div class="gradient"></div>
  <section>
    Partie clubs
  </section>
  <div class="gradient"></div>
</div>
