<div class="container">
  <h1>Bienvenue au Nouveau Mercato</h1>
  <div class="gradient"></div>
  <section>
    Partie actualités
  </section>
  <div class="gradient"></div>
  <section>
    Partie clubs
  </section>
  <div class="gradient"></div>
  <div class="club-photo-container">
    <% @clubs.each do |club| %>
      <%= link_to club_path(club) do %>
        <%= image_tag club.photo %>
      <% end %>
    <% end %>
  </div>
</div>
