@use "../config/colors";
@use "../config/breakpoints";

.accueil-block {
  h3 {
    color: colors.$tertiary-color;
  }

  h4 {
    color: colors.$text-primary-color;
    margin: 1% 0;
  }

  h3,
  h4 {
    font-weight: 500;
  }

  h1 {
    font-weight: 900;
    font-size: 3rem;
    color: colors.$text-primary-color;
    margin: 1% 0;
  }
}

@media (width >= breakpoints.$md) {
  .accueil-block {
    h1 {
      font-size: 3.5rem;
    }
  }
}

@media (width >= breakpoints.$lg) {
  .accueil-block {
    h1 {
      font-size: 4rem;
    }
  }
}

@media (width >= breakpoints.$lg) {
  .accueil-block {
    h1 {
      font-size: 4.5rem;
    }
  }
}
