// Specific CSS for your home-page
.presentation {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  height: 50vh;
  justify-content: center;
  padding: 2%;

  h1,
  h2 {
    font-weight: bolder;
    margin: 10px;
  }
}

.bg-black {
  background-color: $secondary-color;

  h1,
  h2 {
    color: $primary-color;
    text-align: right;
  }
}
