@use "../../config/colors";

.player-card {
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: colors.$bg-secondary-color;
    color: colors.$text-secondary-color;
    transition: 0.3s ease-in-out;
  }
}
