<%= simple_form_for [@player, @booking], html: { class: "booking-form" } do |f| %>
  <%= f.input :start_date,
              label: "",
              placeholder: "Date de début",
              as: :string,
              input_html: {
                class: "input",
                data: {
                  controller: "datepicker",
                  total_price_booking_target: "startDate"
                }
              }
  %>
  <%= f.input :end_date,
              label: "",
              placeholder: "Date de fin",
              as: :string,
              input_html: {
                class: "input",
                data: {
                controller: "datepicker",
                total_price_booking_target: "endDate",
                action: "change->total-price-booking#priceCount" } } %>
  <div class="result" data-total-price-booking-target="price">
  </div>
  <%= f.submit "Réserver",
    data: { total_price_booking_target: "button", owner_renting_target: "btn"}, class: "disabled", id:"bookButton"%>
<% end %>
