<div class="green-bg shadow-green p-2">
  <div class="mx-auto">
    <% if @booking %>
      <%= simple_form_for [@player, @booking] do |f| %>
        <div data-controller="date-range-picker">
          <div data-date-range-picker-target="calendar"></div>
          <%= f.input :start_date,
                  as: :hidden,
                  input_html: { data: { date_range_picker_target: "startDate" } } %>
          <%= f.input :end_date,
                  as: :hidden,
                  input_html: { data: { date_range_picker_target: "endDate" } } %>
          <div class="text-center py-3 space-y-3">
            <p><span data-date-range-picker-target="startDateDisplay"></span></p>
            <p><span data-date-range-picker-target="endDateDisplay"></span></p>
            <p data-date-range-picker-target="bookingDuration"></p>
          </div>
        </div>
        <div class="text-center">
          <%= f.button :submit, "Réserver", class: "button btn-black" %>
        </div>
      <% end %>
    <% else %>
      <h5>Veuillez vous connecter.</h5>
    <% end %>
  </div>
</div>