<div class="green-bg shadow-green my-8 mx-auto w-[95%] rounded-xl">
  <h2 class="text-center">JOUEURS AU CLUB</h2>
</div>
<%= render partial: 'players', collection: @players, as: :player, locals: { context: :club_squad } %>