<div class="green-bg shadow-green my-8 mx-auto w-[95%] rounded-xl">
  <h2 class="text-center">JOUEURS EMPRUNTES</h2>
</div>
<%= render partial: "players", collection: @loaned_in_players, as: :player, locals: { context: :loaned_in } %>