<div class="relative h-[70vh]">
  <%= image_tag 'Accueil.jpg', class:"absolute top-0 left-0 w-full h-full object-cover z-[-1]" %>
</div>
<div class="black-bg">
  <p>Bonjour ceci est l'accueil</p>
</div>
