<div class="presentation">
  <h1 id="title">LE FOOTBALL IL A CHANGÉ.</h1>
  <h2>LES JOUEURS SONT TROP CHERS ?</h2>
</div>
<%= link_to "NEW MERCATO", clubs_path, class:"btn-home" %>
<div class="presentation bg-black">
  <h2>VOUS, DIRIGEANTS, ACHETEZ MOINS DE YATCH ?</h2>
  <h1 id="title">"NEW MERCATO" EST FAIT POUR VOUS.</h1>
</div>
