<!--<div class="home">
  <%= image_tag('Logo.png') %>
  <h1>N'achetez plus les joueurs...</h1>
  <# %= link_to "Commencer!", clubs_path, class:'btn start-button'%>
</div>-->
<div class="grid-home">
  <div class="presentation">
    <h1 id="title">LE FOOTBALL IL A CHANGÉ.</h1>
    <h2>LES JOUEURS SONT TROP CHERS ?</h2>
  </div>
  <div class="presentation black">
    <h2>VOUS, DIRIGEANTS, ACHETEZ MOINS DE YATCH ?</h2>
    <h1 id="title">DÉCOUVREZ "NEW MERCATO".</h1>
  </div>
</div>
