<div class="d-flex justify-content-center mb-4 mt-3">
  <%= image_tag("LogoAirBNB.jpg") %>
  <div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <h1 style="margin-top:0;;padding-top:0px;text-align:center;">N'ACHETEZ PLUS LES JOUEURS, LOUEZ-LES !</h1>
      <p>Construisez votre équipe de rêve en recrutant les meilleurs joueurs dans les meilleurs clubs.</p>
      <p>Lancez-vous dans la quête de la meilleure équipe pour gagner les trophées les plus prestigieux !</p>
      <h2>Bonne chance !!!</h2>
      <%= link_to "Commencer!", players_path, class:'button mt-5', id:"button-home" %>
    </div>
  </div>
