// Variables
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1439px;

// Marges

.m-left {
  margin-left: 5%;
}

// Couleurs de la police selon le fond d'écran

.green {
  color: $primary-color;
}

.white {
  color: $tertiary-color;
}

.black {
  color: $secondary-color;
}
