<div>
  <%= form_with url: players_path, method: :get, html: { class: "search-form"} do %>
    <%= text_field_tag :query,
            params[:query],
            placeholder: "Quelle poste souhaitez-vous renforcer ?"
        %>
    <button type="submit" class="search-button">
      <%= image_tag 'Search.svg' %>
    </button>
  <% end %>
</div>
