<div class="green-bg w-[85%] flex justify-between p-4 items-center mx-auto mt-10" id="card-player-show">
  <%= image_tag (@player.photo), class:"w-[15%]" %>
  <h2 class><%= @player.name.upcase %></h1>
  <%= image_tag (@player.club.logo), id:"logo-club" %>
</div>
<div class="m-10">
  <%= render "bookings/form", booking: @booking %>
</div>
