<div class="data-club green-bg relative flex flex-col rounded-xl justify-end">
  <%= image_tag @club.logo, class: "absolute top-4 left-4 w-12" %>
  <h1><%= @club.name %></h1>
  <h2><%= @club.budget %></h2>
  <h2><%= @club.stadium %></h2>
</div>