.btn {
  font-family: $button-font;
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

// Appliquer cette classe sur les boutons destinés au fond noir.

.opposite {
  background-color: $secondary-color;
  color: $primary-color;
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

//

.btn-home {
  position: absolute;
  z-index: 10;
  padding: 15px;
  border-radius: 15px;
  color: $secondary-color;
  background-color: $primary-color;
  font-size: var(--h4);
  font-family: $players-name-font;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;

  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
    transition: 0.5s ease-in-out;
  }
}
