@use "../config/colors";
@use "../config/fonts";

.btn-home {
  position: absolute;
  z-index: 10;
  padding: 10px;
  border-radius: 15px;
  color: colors.$text-secondary-color;
  background-color: colors.$bg-secondary-color;
  font-family: fonts.$text-font;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;

  &:hover {
    color: colors.$text-primary-color;
    background-color: colors.$bg-primary-color;
    transition: 0.5s ease-in-out;
  }
}

.button {
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 500;
}

.btn-black {
  background-color: colors.$bg-primary-color;
  color: colors.$text-primary-color;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: colors.$bg-secondary-color;
    color: colors.$text-secondary-color;
    transition: 0.3s ease-in-out;
  }
}

.btn-green {
  background-color: colors.$bg-secondary-color;
  color: colors.$text-secondary-color;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: colors.$bg-primary-color;
    color: colors.$text-primary-color;
    transition: 0.3s ease-in-out;
  }
}
