.navbar-lewagon {
  justify-content: space-between;
  background: rgba(241, 241, 241, 0.95);
  // position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 10%;
}

.navbar-lewagon .navbar-logo img {
  // position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 80px;
  border-radius: 10%;
}
