header {
  width: 100%;
  background-color: $primary-background;
}

nav {
  max-width: 90%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;

  .list-container:last-child {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  img {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 300px;
  }

  a:visited {
    color: $gray;
  }

  a {
    transition: 0.5s ease-in-out;
    color: $gray;
  }

  a:hover {
    color: $secondary-color;
    transition: 0.5s ease-in-out;
  }
}

.gradient {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 255, 4, 0.664) 25%,
    rgb(43, 255, 0) 50%,
    rgba(0, 255, 4, 0.664) 75%,
    rgb(0, 0, 0) 100%
  );
}

// @media (max-width: $breakpoint-sm) {
//   header {
//   }
// }
