.big-card {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.614);
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.295);
  padding: 10px;
  box-shadow: 1px 1px 5px grey;
  align-items: center;

  h1 {
    font-family: $players-name-font;
    color: $red-triangle;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }

  .player-photo img {
    max-width: 139px;
    max-height: 181px;
    border-radius: 10px;
  }

  .club-photo img {
    width: 180px;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
    font-weight: bolder;
  }

  h2 {
    margin: 0;
    font-style: italic;
  }
}

.booking {
  grid-column: 2/3;
  grid-row: 1/5;
  background-color: rgba(255, 255, 255, 0.671);
  margin: 0 1rem 0 1.5rem;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.457);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .small {
    font-size: 20px;
    font-style: italic;
  }
  span:first-of-type,
  .euro {
    color: $red-triangle;
  }
}

.infos-card {
  margin: auto;
  border-top: 1px solid rgba(167, 167, 167, 0.543);
  padding: 24px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  grid-column: 1/2;
}

.icon {
  padding-right: 25px;
  h1 {
    margin: 0;
  }
}

.text {
  h6 {
    margin: 0;
  }
  h5 {
    margin-bottom: 10px;
    font-weight: bolder;
  }
  h6 {
    margin: 0;
    padding: 0;
    font-style: italic;
  }
}

.result {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.863);
  margin-top: 1rem;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0;
  }
  span {
    color: $red-triangle;
    font-weight: bolder;
    font-size: x-large;
  }
}

.booking-form {
  margin-bottom: 0;
  text-align: center;
}

.grid-infos {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: repeat(6, 1fr);
}
