// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "variables/variables";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  font-family: $button-font;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --base-size: 1rem;
  --scale: 1.25;

  --h6: calc(var(--base-size) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --title: calc(var(--h1) * var(--scale) * 1.2);
}
