// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  // background-image: image-url("stade.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-attachment: fixed;
  // height: 100vh;
  // width: 100%;
  background-color: #f1f1f1d0;
  // background-blend-mode: overlay;
  color: #212930;
  font-family: $button-font;
}
