// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "variables/variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1d0;
  color: #212930;
  font-family: $button-font;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --h1: #{$h1};
  --h2: #{$h2};
  --h3: #{$h3};
  --h4: #{$h4};
  --h5: #{$h5};
  --h6: #{$h6};
}
