<div class="gradient">
</div>
<div class="footer">
  <div class="footer-container">
    <%= image_tag 'Logo.png' %>
    <div class="text-footer">
      <p>Joueurs</p>
      <p>Clubs</p>
      <p>Statistiques</p>
    </div>
    <div class="text-footer">
      <p>Actualités</p>
      <p>Rejoindre</p>
      <p>Contact</p>
    </div>
  </div>
</div>
