<div class="footer">
  <div class="footer-up">
    <%= image_tag('BL.png') %>
    <div class="text">
      <p>Qui sommes-nous ?</p>
      <p>Contactez-nous.</p>
    </div>
    <%= image_tag('Liv.png') %>
    <div class="text-last">
      <p>Joueurs livrés en un jour !</p>
      <p>Faites votre mercato !</p>
    </div>
    <%= image_tag('Juv.png') %>
  </div>
</div>
